services:
  expense-buddy-client:
    container_name: expense-buddy-client
    build: ./packages/client
    expose:
      - ${APP_CLIENT_PORT}
    environment:
      - REACT_APP_SERVER_PORT=${APP_SERVER_PORT}
      - REACT_APP_MACHINE_IP=${MACHINE_IP}
      - PORT=${APP_CLIENT_PORT}
      - REACT_APP_APILAYER_KEY=${REACT_APP_APILAYER_KEY}
    ports:
      - "80:80"
      - ${APP_CLIENT_PORT}:${APP_CLIENT_PORT}
    volumes:
      - ./packages/client/src:/home/app/src
    links:
      - server
    networks:
      - app_network

  server:
    container_name: expense-buddy-server
    build: ./packages/server
    expose:
      - ${APP_SERVER_PORT}
    environment:
      - API_HOST=${API_HOST}
      - APP_SERVER_PORT=${APP_SERVER_PORT}
      - DATABASE_HOST=mongodb://expenseBuddyMongoDB:${DATABASE_PORT}/server
      # Email Configuration
      - SMTP_HOST=${SMTP_HOST}
      - SMTP_PORT=${SMTP_PORT}
      - SMTP_SECURE=${SMTP_SECURE}
      - SMTP_USER=${SMTP_USER}
      - SMTP_PASS=${SMTP_PASS}
      - FROM_EMAIL=${FROM_EMAIL}
      - CLIENT_URL=${CLIENT_URL}
      - APP_NAME=${APP_NAME}
      # JWT Configuration
      - JWT_ACCESS_SECRET=${JWT_ACCESS_SECRET}
      - JWT_REFRESH_SECRET=${JWT_REFRESH_SECRET}
      - JWT_EMAIL_SECRET=${JWT_EMAIL_SECRET}
    ports:
      - ${APP_SERVER_PORT}:${APP_SERVER_PORT}
    depends_on:
      - mongo
    links:
      - mongo
    volumes:
      - ./packages/server/src:/home/app/src
    networks:
      - app_network

  mongo:
    container_name: expenseBuddyMongoDB
    image: mongo:4.0.10-xenial
    ports:
      - ${DATABASE_PORT}:${DATABASE_PORT}
    volumes:
      - mongo:/data/db
    networks:
      - app_network

  expense-buddy-backup:
    container_name: expense-buddy-backup
    build: ./packages/backup
    depends_on:
      - mongo
    environment:
      - MONGO_URI=mongodb://expenseBuddyMongoDB:${DATABASE_PORT}/server

volumes:
  mongo:

networks:
  app_network:
    driver: bridge
